.main{

}

.container{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    height: 80%;
    border-radius:5rem;
   margin-left: 1%;
   margin-right: 2%;

}
.icon{ 
    font-size: 2rem;
}