.text-area {
    
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color:aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text-area [contenteditable="true"] {
  
    font-size: 14px;
    padding: 10px;
    width: 70%;
    height: 90%;
    background-color: white;
    box-shadow: 0px 1px 10px rgba(10, 10, 10, 0.2);
    overflow: auto;
  }
  
  .text-area [contenteditable="true"]:empty:before {
    content: attr(placeholder);
    color: #9a8686;
  }
  